numpy
pandas
Django~=2.2.4
psycopg2
psycopg2-binary
gtfs-realtime-bindings
GeoAlchemy2
django-leaflet
postgis
iconv
pygdal
GDAL
geopandas
sqlparse
django-easy-select2
django-select2
django-autocomplete-light
django-jquery-js
django-crispy-forms
django-bootstrap4
django-bootstrap-datepicker-plus
