<html>
        {% load leaflet_tags %}
        {% load static %}
<head>
    <meta charset="UTF-8">   
    
    <title>DTC Bus Monitor Portal</title>
    

    {% leaflet_css %}
    {{ form.media.css }}
    {% leaflet_js %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'dist/playbackStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'dist/leaflet-liveupdate.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/leaflet-messagebox.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/MarkerCluster.Default.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/MarkerCluster.css' %}" />
    

    <script src="{% static 'dist/leaflet-realtime.min.js' %}"></script>
    <script src="{% static 'dist/leaflet-realtime.js' %}"></script>
    <script src="{% static 'dist/leaflet-liveupdate.js' %}"></script>
    <script src="{% static 'dist/leaflet-messagebox.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" >	</script>

</head>


<body>
    {{form.media.js}}

    <script type="text/javascript">
        function map_points(map,options)
         {
             //particular-bus
             // console.log(mypara)
             var datapoints = new L.GeoJSON.AJAX("{% url 'playback:filtered-routes' %}",
                         //   var datapoints = new L.GeoJSON.AJAX("{% url 'stops:all-buses' %}",
             {
         pointToLayer: function (feature, latlng) {
             return L.marker(latlng, {
                 icon: L.icon({
                     // iconUrl: "static/img/bus_blue_point.png",
                     iconUrl: "{% static 'img/bus_blue_point.png' %}",
                     iconSize: [24, 28],
                     iconAnchor: [12, 28],
                     popupAnchor: [0, -25]
                 }),
                 // title: feature.properties.stop_name,
                 title: feature.properties.vehicle_id,
                 riseOnHover: true
             });
         },
         onEachFeature: function(feature,layer){
             // layer.bindPopup(feature.properties.stop_name.toString());
             layer.bindPopup(feature.properties.vehicle_id.toString());
         }
     });
     //datasets.addTo(map);
     
     datapoints.addTo(map);
    }
    
    </script> 

    <div id="upright">
      

        {% leaflet_map "gis" callback="map_points"  %}
        <!-- {% leaflet_map "gis" %} -->
       
    </div>
   

    <div id="upleft">  

        <form action="/playback/" method="post" >
            {% csrf_token %}
            {{ formp.as_ul}}
            <input type="submit" value="Filter">
            
        </form>
      
    </div>
   

   
</body>
</html>
