<html>
        {% load leaflet_tags %}
        {% load static %}
<head>
    <meta charset="UTF-8">   
    
    <title>DTC Bus Monitor Portal</title>
    

    {% leaflet_css %}
    {{ form.media.css }}
    {% leaflet_js %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'dist/playbackStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'dist/leaflet-liveupdate.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/leaflet-messagebox.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/MarkerCluster.Default.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/MarkerCluster.css' %}" />
    

    <script src="{% static 'dist/leaflet-realtime.min.js' %}"></script>
    <script src="{% static 'dist/leaflet-realtime.js' %}"></script>
    <script src="{% static 'dist/leaflet-liveupdate.js' %}"></script>
    <script src="{% static 'dist/leaflet-messagebox.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" >	</script>

</head>


<body>
    {{form.media.js}}
    <div id="upright">
      

        <!-- {% leaflet_map "gis" callback="map_points"  %} -->
        {% leaflet_map "gis" %}
       
    </div>
   

    <div id="upleft">  

        <form action="/playback/" method="post" >
            {% csrf_token %}
            {{ formp.as_ul}}
            <input type="submit" value="Filter">
            
        </form>
      
    </div>
   

   
</body>
</html>
