<html>
        {% load leaflet_tags %}
        {% load static %}
<head>
    <meta charset="UTF-8">   
    
    <title>DTC Bus Monitor Portal</title>
    

    {% leaflet_css %}
    {{ form.media.css }}
    {% leaflet_js %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'dist/playbackStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'dist/leaflet-liveupdate.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/leaflet-messagebox.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/MarkerCluster.Default.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/MarkerCluster.css' %}" />
    

    <script src="{% static 'dist/leaflet-realtime.min.js' %}"></script>
    <script src="{% static 'dist/leaflet-realtime.js' %}"></script>
    <script src="{% static 'dist/leaflet-liveupdate.js' %}"></script>
    <script src="{% static 'dist/leaflet-messagebox.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" >	</script>

</head>


<body>
    {{form.media.js}}

    <script type="text/javascript">
    iconsmap = {}

    function returnicon(iconnumber)
    {
      var busurl = "/static/bus_icon/"+iconnumber+".png";
     return new L.Icon({
  iconUrl: busurl,
  iconSize: [30, 45],
  iconAnchor: [12, 45],
  popupAnchor: [1, -34],
  shadowSize: [45, 45]
})
    }
    function getnewicon(vehicle_id)
    { 
            if( typeof getnewicon.counter == 'undefined' ) {
              getnewicon.counter = 0;
          }
          if(vehicle_id in iconsmap)
          {
            
          }
          else{
            iconsmap[vehicle_id] = returnicon(getnewicon.counter%13);
            getnewicon.counter++;
          }
            
            return iconsmap[vehicle_id];
    }
        function map_points(map,options)
         {
            var heading = document.getElementById("p1");
            var timeelapsed = 0;
                var datapoints = new L.GeoJSON.AJAX("{% url 'playback:filtered-routes' %}",
                {
			pointToLayer: function (feature, latlng) {
                return L.marker(latlng, {
                    icon:getnewicon(feature.properties.vehicle_id),
                    title: feature.properties.vehicle_id,
                    riseOnHover: true
                });
            },
			onEachFeature: function(feature,layer){
                layer.bindPopup("Bus Number: "+feature.properties.vehicle_id.toString() +
                 "<br>"+"Speed: " + feature.properties.speed.toString() +
                 "<br>"+"Route id: " + feature.properties.route_id.toString()
                 );
			}
		});
        datapoints.addTo(map);

			L.control.liveupdate ({
				update_map: function () {
        
        timeelapsed = timeelapsed + 10;
        datapoints.addUrl("{% url 'playback:filtered-routes' %}");
        // datapoints.refresh("{% url 'playback:filtered-routes' %}");
        heading.innerHTML = timeelapsed + " Seconds";
					
				},
				position: 'topleft',
				interval: 2000
			})
			.addTo(map).stopUpdating();
            }        
    
    </script> 

    <div id="upright">
            <h1 id="p1"></h1>
      

        {% leaflet_map "gis" callback="map_points"  %}
        <!-- {% leaflet_map "gis" %} -->
       
    </div>
   

    <div id="upleft">  

        <form action="/playback/" method="post" >
            {% csrf_token %}
            {{ formp.as_ul}}
            <input type="submit" value="Filter">
            
        </form>
      
    </div>
   

   
</body>
</html>
