{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    
    {% if messages %}
    {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

    {% endif %}
    
{% endblock %}

{% block content %}

<script>
        $(function () {
            var today = new Date();
            $('.datetime-input').datetimepicker({
                format:'YYYY-MM-DD',
                maxDate: today
            });
        });
</script>
{{downloadForm.media}}

<div class="wrapper">
    
    
    
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
             

            <div class="container-fluid">
                
                <h5 style="text-align: center;"><font color="black">DTC Data Download Portal</font></h5>               
                
                
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        
                        <li class="nav-item">
                            <a class="nav-link" href='{% url 'home' %}'>Home</a>
                         </li>
                        <li class="nav-item ">
                            <a class="nav-link" href='{% url 'stops:livetracking' %}'>Live Tracking</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href='{% url 'playback:playback' %}'>Playback</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href='{% url 'download:download' %}'>Download</a>
                        </li>
                        <li class="nav-item ">
                                <a class="nav-link" href='{% url 'aboutus' %}'>About us</a>
                         </li>
                    </ul>
                </div>
            </div>
        </nav>
          
<div class="center">
        <form class="form-horizontal center" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ downloadForm|crispy }}
            <!-- <div class="form-group"> -->
                <!-- <div class="col-sm-offset-3 col-sm-9 center"> -->
                    <div class="buttonHolder">
                    <button type="submit" class = "btn btn-success">Download</button>
                    </div>
                <!-- </div>  -->
            <!-- </div> -->
        </form>

    </div>
    <footer class="container py-5" style="margin-bottom: 0px">
        <div class="row">
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" target="_blank"
                           href="http://delhi.gov.in/wps/wcm/connect/doit/Delhi+Govt/Delhi+Home">Delhi Government</a></li>
                    <li><a class="text-muted" target="_blank" href="https://iiitd.ac.in/">IIIT-Delhi</a></li>
                </ul>
            </div>
           
            <div class="col-6 col-md">
                <a target="_blank" href="http://delhi.gov.in/wps/wcm/connect/doit/Delhi+Govt/Delhi+Home"><img
                        src="/static/img/delhisarkar.png" width="40%" style="padding-top: 20px"/></a>
                <a target="_blank" href="https://iiitd.ac.in/"><img src="/static/img/iiitdlogo.png"
                            width="40%"/></a>
            </div>
            <!-- <div class="col-6 col-md">
                <div style="align-content: center;">
                    <a target="_blank" href="http://delhi.gov.in/wps/wcm/connect/DOIT_DTC/dtc/home">
                        <img src="/static/img/dtc.png" width="20%"
                             style="margin-left: auto;margin-right: auto; display: block;">
                    </a>
                </div>
            <div style="align-content: center;">
                <a target="_blank" href="https://www.dimts.in/">
                    <img class="dimts_logo" src="/static/img/dimts.jpg" width="20%"
                         style="margin-left: auto;margin-right: auto; display: block;">
                </a>
            </div> -->
           
        </div>
    </footer>
 
    </div>
   
</div>


{% endblock %}