{% load leaflet_tags %}
<html>
<head>

        {% leaflet_css %}
    {% leaflet_js %}
    

    <style type="test/css">

    </style>
    <!-- <style>
        html, body { height: 100%; width: 99%; margin: 10; }
        div.one{
            height: 100%;
            width: 100% 
        }
        
        </style>	
        <style>.leaflet-container-default {
            height: 80%;
            width: 80%;
        }</style> -->
</head>
<body>
<!-- 
        <script type="text/javascript">
            function map_init(map, options) {
                // get point lat and lon
                var lon = "{{ stops.longitude }}";
                var lat = "{{ stops.latitude }}";
                // zoom to point & add it to map
                map.setView([lat, lon], 12);
                L.marker([lat, lon]).addTo(map);
            }
        </script> -->
    <div class="one">
        <!-- <h1>{{ stops.stop_name }}</h1> -->
        <!-- {% leaflet_map "main" callback="map_init" %} -->
        {% leaflet_map "map2" %}
    </div>
    <!-- <div >
        <form method="GET">
            {% csrf_token %}
            {{ form }}
        </form>
        </div> -->
    <!-- {% leaflet_map "main" %} -->
</body>
</html>



////////////////////////////////////////////////////////////////////////////////////
{% load leaflet_tags %}
<html>
<head>

        {% leaflet_css %}
    {% leaflet_js %}
    

    <style>
        html, body { height: 100%; width: 99%; margin: 10; }
        div.one{
            height: 100%;
            width: 100% 
        }
        
        </style>	
        <style>.leaflet-container-default {
            height: 80%;
            width: 80%;
        }</style>
</head>
<body>

        <script type="text/javascript">
            function map_init(map, options) {
                // get point lat and lon
                var lon = "{{ stops.longitude }}";
                var lat = "{{ stops.latitude }}";
                // zoom to point & add it to map
                map.setView([lat, lon], 12);
                L.marker([lat, lon]).addTo(map);
            }
        </script>
    <div class="one">
        <h1>{{ stops.stop_name }}</h1>
        {% leaflet_map "main" callback="map_init" %}
    </div>
    <div >
        <form method="GET">
            {% csrf_token %}
            {{ form }}
        </form>
        </div>
    <!-- {% leaflet_map "main" %} -->
</body>
</html>